//===========================================
// Variables
//===========================================

//Colors
$color-text: #777;
$color-primary: #58e1c1;
$color-links:   #51ddfc;
$color-links-secondary: #fff;
$lightPurple: #927bc1;

// Font Stack
$font-stack: 'Lato', sans-serif;

//Breakpoints
$break-med: 768px;
