//===========================================
// Variables
//===========================================

//Colors
$color-text: #777;
$color-primary: #58e1c1;
$color-links:   #51ddfc;
$color-links-secondary: #fff;
$lightPurple: #927bc1;

// Font Stack
$font-stack: 'Lato', sans-serif;

//Breakpoints
$break-med: 768px;

// Buttons
$color-default:  #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success:   #63cc82;
$color-warning:   #fd7856;

$default-light: lighten($color-default, 15%);
$error-light: lighten($color-error, 15%);
$info-light: lighten($color-info, 15%);
$success-light: lighten($color-success, 15%);
$warning-light: lighten($color-warning, 15%);




