
/* ============================================= */
/*              Buttons                          */
/* ============================================= */


.btn {
   @include btn;
    @include mq('med') {
      padding: 10px 30px;
       + .btn {
        margin-left: 10px;
      }
    }
  }
  
  .default {
    background-color: $color-default;
    &:hover {
      background-color: $default-light;
      @include transition;
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background-color: $error-light;
      @include transition;
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: $info-light;
      @include transition;
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: $success-light;
      @include transition;
    }
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
     background-color: $warning-light;
      @include transition;
    }
  }